@model Taxer.Web.UI.Models.TaxViewModel

@{
    ViewBag.Title = "Tax Calculator";
}

<div class="container" id="tax-calculator">
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("Index", "Tax", FormMethod.Post, new
            {
                @class = "bordered-element",
                @data_title = "Calculator"
            }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.GrossIncome)
                    @Html.TextBoxFor(m => m.GrossIncome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.GrossIncome, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PostalCode)
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostalCode, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-primary">Calculate</button>
            }
        </div>

        <div class="col-md-6">
            @if (Model?.HasResult ?? false)
            {
                <div class="bordered-element" data-title="Result" id="tax-result">
                    <p>
                        <strong>Your Net Income:</strong>
                        <br>
                        @Model.NetIncome.ToString("C")
                    </p>
                    <p>
                        <strong>Your Tax:</strong>
                        <br>
                        @Model.Tax.ToString("C")
                    </p>

                    <p>
                        <strong>Your Tax Type:</strong>
                        <br>
                        @Model.TaxType
                    </p>
                </div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/tax-calculator.css" asp-append-version="true" />
}